{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_edit'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <div>
        <a id="back" href="{{ url('category_index') }}" class="create_button btn btn-outline-secondary">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    <h1>{{ 'title.category_edit'|trans({'%id%': category.id|default('')}) }}</h1>
    <div id="form1">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div id="save">
            <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-outline-warning" />
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}