{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_list'|trans }}</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <div>
            <a href="{{ url('category_create') }}" class="create_button btn btn-outline-info">
                {{ 'action.create'|trans }}
            </a>
        </div>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}

        <div class="list-group w-50 text-center" style="width:50%; margin-left: 25%;">
            {% for category in pagination.items %}
                <div class="text-center ">
                    <a class="list-group-item list-group-item-action " href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">{{ category.name }}</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div>
                            <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{ knp_pagination_render(pagination) }}
            </ul>
        </nav>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}