{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.change_password'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    {% if user is defined %}
        <h1>{{ 'label.change_password'|trans({'%id%': user.id|default('')}) }}</h1>
        <div>
            <a id="back" href="{{ url('my_account', {'id': app.user.id})}}" class="btn btn-outline-secondary">
                {{ 'action.back_to_list'|trans }}
            </a>
        </div>
        <div id="form1">
            {{ form_start(form, { method: 'PUT', action: url('change_password', {id: app.user.id}) }) }}
            {{ form_widget(form) }}
            <div id="save">
                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-outline-success" />
            </div>
        </div>

        {{ form_end(form) }}
    {% endif %}
{% endblock %}